/* general text formatting */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Lobster);
.topHeaderRow {
    background-color:#142860;
    
}

.topHeaderRow a {
    color: white;
}

.list-inline {
    margin-top: 6%;
}


footer {
    background-color: #303f9f;
    color: white;
}

.final{
    background-color: #142860;
    text-align: center;
    margin-top: 30px;
}

.navbar-brand {
    font-family: Lobster, Cambria, "Times New Roman", serif;
    font-size: 22pt;
}

