.topHeaderRow {
    background-color:#142860;
    
}

.topHeaderRow a {
    color: white;
}

.list-inline {
    margin-top: 6%;
}


footer {
    background-color: #303f9f;
    color: white;
}

.final{
    background-color: #142860;
    text-align: center;
    margin-top: 30px;
}

